
<html>
<body>
    <br /><br/>
<h2>Creación de sesión</h2>

@if (ViewBag.result == true)
{
    <div class="alert alert-success" role="alert">
        Su sesión fue agendada exitosamente
    </div>
    if (ViewBag.contrasena != null)
    {
        <h4>La contraseña para que otras personas puedan acceder a esta sesión es: <b>@ViewBag.contrasena</b></h4>
    }

    <a href="@Url.Action("Index","Home")" class=" btn btn-primary">Regresar</a>
}
else
{
    <div class="alert alert-danger" role="alert">
        Su sesión no se pudo agendar
    </div>
    <a href="@Url.Action("Agendar","CrearSesion",new { tutoriaID = @ViewBag.tutoriaID})" class=" btn btn-primary">Regresar a Agendar Sesion</a>
}
</body>
</html>