
@{
    ViewBag.Title = "Establecer Horario";
}
<head>
    <link href="~/css/Horario.css" rel="stylesheet" />
</head>

<h2>Appointment Calendar</h2>
<div class="scheduler_container">
    @Html.Raw(Model.Render())
</div>