﻿@model WebApplication156456.Models.Notificacion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<style>
    textarea {
        resize: none;
    }
</style>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification Panel</title>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <h3>Notificaciones</h3>
        <a href="@Url.Action("DeleteAllNotifications", "Notificacion")" style="background-color:crimson" class=" btn btn-primary btn-lg">Borrar Todas</a>
    </div>

    <br />

    <div>
        @for (int index = 0; index < ViewBag.notifications.Count; index++)
        {
            <div class="list-group-item">
                <p>Fecha: <span style="color:dodgerblue">@ViewBag.notifications[index].fechaNotificacion</span></p>
                <pre style="font-size:14px">Mensaje: @ViewBag.notifications[index].mensajeNotificacion</pre>
                <a href="@Url.Action("DeleteNotification", "Notificacion", new {notID = ViewBag.notifications[index].idNotificacion})" style="background-color:crimson" class=" btn btn-primary btn-sm">Borrar</a>
            </div>
            <br />
        }
    </div>
</body>
</html>
