h1 {
    text-align: center;
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}

th {
    text-align: center;
    background-color: #17709e;
    color: white;
}

td {
    text-align: center;
    background-color: #f8efed;
}

.div1 {
    background-color: white;
    margin-top:0%;
    padding-top:0px;
}

body {
    background-color: white;
}

table {
    border-radius: 25px;
    
}


.tableFixHead {
    overflow: auto;
    height: 600px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    
}

#filters{
   height: 26px;
}