h1 {
    text-align: center;
    font-family: 'Enriqueta', arial, serif;
    line-height: 1.25;
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: bold;
}

.card-head {
    padding: 5px;
    background-color: #17709e;
    border-block-color: gray;
}
.card-header {
    color: white;
    background-color: #17709e;
    padding: 5px;
}


hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #3498DB !important;
}

body {
    font-family: 'Enriqueta', arial, serif;
    background-color: #f8efed;
}

.card {
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-body{
    padding:10px;
}


a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}