@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="container overflow-hidden tab-content-space-t-4" style="text-align:center;">
    <br />
    <img style="max-width:100px; margin-top: -7px;"
         src="/content/tutoriaicon.ico">
    <h1 style="font-size:10vh;">¡Bienvenidos a TutorMe!</h1>
    <br />
    <hr />
    <p class="lead">En esta página podrán ver las tutorías que se encuentran actualmente disponibles, los profesores que las imparten y los cursos a los que pertenecen. </p>
    <p><a href="@Url.Action("getTutorias","Tutorias")" class="btn btn-primary btn-lg">Ver tutorías &raquo;</a></p>
</div>
