@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="container overflow-hidden tab-content-space-t-4" style="text-align:center;">
    <br />
    <img style="max-width:100px; margin-top: -7px;"
         src="/content/tutoriaicon.ico">
    <h1 style="font-size:10vh;">¡Bienvenidos y bienvenidas a TutorMe!</h1>
    <br />
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <i class="fas fa-graduation-cap" style='font-size:50px'></i>
                <br /><br />
                <p class="lead">En esta página podrán ver las tutorías que se encuentran actualmente disponibles, los profesores que las imparten y los cursos a los que pertenecen. </p>
                <p><a href="@Url.Action("Index","Cursos")" class="btn btn-primary btn-lg">Ver tutorías &raquo;</a></p>
                <br />
            </div>
            
            <div class="col-md-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                    <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                    <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                </svg>
                <br /><br />
                <p class="lead">Aquí podrá registrarse como tutor, establecer un horario de disponibilidad, aceptar o rechazar tutorías y si lo desea, recibir remuneración por sus servicios. </p>
                <p><a href="@Url.Action("MenuTutor","MenuTutor")" class="btn btn-primary btn-lg">Página de tutor &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

