@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="~/css/Homepage.css" rel="stylesheet" />
</head>
<body>
    <div class="container overflow-hidden tab-content-space-t-4" style="text-align:center; margin-top:60px">
        <br />
        <h1><b>¡Bienvenidos y bienvenidas a TutorMe!</b></h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" id="welcome_text">
                    <p>
                        TutorMe es una plataforma creada con el objetivo de centralizar y poner a disposición de los estudiantes tutorías en las que puedan 
                        resolver sus dudas sobre la materia vista en clases.
                        Facilitando la búsqueda de aquellas tutorías que mejor se adapten a sus necesidades, así como el contacto con aquellas personas tutoras 
                        que las imparten y la posibilidad de agendar sesiones en modalidad virtual o presencial, de forma individual o grupal y a un costo accesible.                        
                    </p>
                    <p>
                        Al registrarse tendrá acceso a las funcionalidades que correspondan a su rol, ya sea como estudiante o tutor.
                    </p>
                </div>
                <div class="col-md-6"><img src="/content/Homepage.jpg" alt="Estudiantes"></div>
            </div>
        </div>
    </div>
    <div id="transition"><h3>¿Cómo funciona?</h3></div>
    <div style="text-align:center;">
        <div class="container-fluid" id="instructions">
            <div class="row" id="information">
                <div class="col-md-5" id="student_text">
                    <i class="fas fa-graduation-cap" style='font-size:50px; color:#123f7d;' ></i>
                    <br /><br />
                    <h5 style="text-align:center">Estudiante</h5>
                    <p style="text-align:justify">Encontrará la lista de cursos diponibles dónde podrá visualizar información de las tutorías 
                        que se encuentran actualmente disponibles y solicitar una sesión con la persona tutora de su elección, quien decidirá si aprueba la solicitud.                        
                    </p>
                    <p style="text-align:justify">Además, tendrá acceso a un perfil en el cual se muestran las sesiones y su estado actual, aquí podrá verificar si su sesión fue aprobada.</p>
                    <br />
                </div>

                <div class="col-md-5" id="tutor_text">
                    <i class="fas fa-briefcase" style='font-size:50px; color:#123f7d;margin-top:2px;'></i>                    
                    <br /><br />
                    <h5>Tutor</h5>
                    <p>
                        Al ingresar podrá acceder a un perfil que le permitirá añadir su información, así como establecer un horario de disponibilidad.
                    </p>
                    <p>
                        En este mismo sitio podrá crear tutorías de acuerdo con sus áreas de conocimiento, modalidad y forma de remuneración de sus servicios de su preferencia.
                        Además de aceptar o rechazar las solicitudes de sesiones de tutoría realizadas por los estudiantes.
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
<body>
</body>
</html>

